@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/* Main background colors */
/* Accent color for all elements */
/* Font colors */
/* Main font */
/* Breakpoints */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

section {
  min-width: 290px;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1344px;
  }
}

.button {
  display: block;
  border: 2px solid #ff6b09;
  padding: 14px 1px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .button {
    padding: 26px 0;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1320px) {
  .section-title {
    font-weight: 800;
    font-size: 46px;
  }
}

.subsection {
  position: absolute;
  left: calc(50% - 140px);
  bottom: -232px;
  width: 280px;
  background-color: transparent;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .subsection {
    left: calc(50% - 344px);
    width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .subsection {
    left: calc(50% - 657px);
    width: 1314px;
  }
}

.footer-contact-tel {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.233;
  letter-spacing: 0.08em;
  color: #111518;
}

.guarantee {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1320px) {
  .guarantee {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.guarantee .container {
  max-width: 320px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .guarantee .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee .container {
    max-width: 1344px;
  }
}
.guarantee .section-title {
  text-align: center;
}
.guarantee__accent {
  color: #ff6b09;
}
.guarantee__list {
  margin-top: 30px;
  padding: 30px 10px;
  background: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .guarantee__list {
    padding: 30px 50px 30px 80px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee__list {
    padding: 50px 112px 45px 112px;
    margin-top: 50px;
  }
}
.guarantee__item:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .guarantee__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.guarantee__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
@media screen and (min-width: 1320px) {
  .guarantee__paragraph {
    font-size: 20px;
    line-height: 1.4;
  }
}
.guarantee__icon {
  width: 45px;
  height: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .guarantee__icon {
    width: 22px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee__icon {
    width: 18px;
  }
}
.guarantee__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.guarantee__wrap-before:before {
  content: "";
  position: absolute;
  display: block;
  height: 70px;
  border-right: 1px dashed #B9B9B9;
  left: 7px;
  bottom: -17px;
}
@media screen and (min-width: 768px) {
  .guarantee__wrap-before:before {
    height: 35px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee__wrap-before:before {
    height: 45px;
    bottom: -15px;
  }
}

.section-hero {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .section-hero {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1320px) {
  .section-hero {
    padding-top: 104px;
  }
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1320px) {
  .hero-title {
    font-size: 58px;
    margin-bottom: 24px;
  }
}

.hero-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}
@media screen and (min-width: 1320px) {
  .hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
  }
}

.hero-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 1320px) {
  .hero-description {
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    margin-bottom: 40px;
  }
}

.hero-accent {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .hero-accent {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.hero-button {
  width: 260px;
}
@media screen and (min-width: 1320px) {
  .hero-button {
    width: 354px;
  }
}

.section-how {
  padding-top: 198px;
  padding-bottom: 50px;
  background-color: #e5e5e5;
}
@media screen and (min-width: 1320px) {
  .section-how {
    padding-top: 278px;
    padding-bottom: 130px;
  }
}
@media screen and (min-width: 768px) {
  .section-how .container {
    min-width: 718px;
  }
}
.section-how .section-title {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1320px) {
  .section-how .section-title {
    margin-bottom: 50px;
    text-align: left;
  }
}

.how-list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .how-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.how-list-item {
  padding: 30px 6px 57px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .how-list-item {
    width: 334px;
    padding: 30px 22px 50px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item {
    width: 425px;
    padding: 30px 27px 50px;
  }
}
.how-list-item:hover {
  background-color: #ff6b09;
}
.how-list-item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .how-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .how-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 27px;
  }
}
.how-list-item:nth-last-child(3) {
  padding: 30px 20px 57px;
}
.how-list-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
  padding: 67px 0px 0px;
}
@media screen and (min-width: 1320px) {
  .how-list-item-title {
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 768px) {
  .how-list-item-title {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item-title {
    margin-bottom: 0;
  }
}
.how-list-item:hover .how-list-item-title {
  color: #ffffff;
}
.how-list-item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}
@media screen and (min-width: 1320px) {
  .how-list-item-text {
    font-size: 18px;
    line-height: 1.56;
  }
}
.how-list-item:hover .how-list-item-text {
  color: #ffffff;
}

.how-symbol {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .how-symbol {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .how-symbol {
    margin-bottom: 0;
  }
}
.how-list-item:hover .how-symbol {
  color: #ffffff;
}

.special {
  padding: 67px 42px 0;
}

.section-problems {
  position: relative;
  padding-top: 50px;
  padding-bottom: 367px;
  height: 545px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .section-problems {
    height: 340px;
    padding-top: 60px;
    padding-bottom: 176px;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems {
    height: 560px;
    padding-top: 100px;
    padding-bottom: 282px;
    background-image: url("/fire-desktop-min.0f0de6e6.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 455px 472px;
  }
}
@media screen and (min-width: 1320px) and (min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1320px) and (min-resolution: 192dpi), screen and (min-width: 1320px) and (min-resolution: 2dppx) {
  .section-problems {
    background-image: url("/fire@2x-desktop-min.72c8ef79.png");
  }
}
.section-problems ul {
  list-style-type: none;
}
.section-problems .container {
  padding: 0;
}
.section-problems .subsection {
  bottom: 0;
  top: 205px;
}
@media screen and (min-width: 768px) {
  .section-problems .subsection {
    top: 196px;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems .subsection {
    top: 348px;
  }
}

.section-problems .section-title {
  color: #ffffff;
  text-align: left;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .section-problems .section-title {
    font-size: 26px;
    width: 568px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems .section-title {
    font-size: 46px;
    width: 866px;
  }
}

.problems-accent,
.problems-number {
  color: #ff6b09;
}

.problems-list {
  padding: 20px 14px 20px 30px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .problems-list {
    display: flex;
    flex-wrap: wrap;
    margin: -11px;
    padding: 30px 47px 26px 96px;
  }
}
@media screen and (min-width: 1320px) {
  .problems-list {
    margin: -16px;
    padding: 70px 112px 62px 114px;
  }
}

@media screen and (max-width: 767px) {
  .problems-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .problems-item {
    width: 43%;
    margin: 11px;
  }
}
@media screen and (min-width: 1320px) {
  .problems-item {
    width: 30%;
    margin: 16px;
  }
}

.problems-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .problems-number {
    font-size: 20px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1320px) {
  .problems-number {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 10px;
  }
}
.problems-number .dash {
  font-size: 14px;
  line-height: 1.21px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .problems-number .dash {
    font-size: 20px;
  }
}

.problems-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  .problems-name {
    line-height: 1.43;
  }
}
@media screen and (min-width: 1320px) {
  .problems-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 1320px) {
  .hyphenation {
    max-width: 200px;
  }
}
.section-program {
  position: relative;
  height: 2050px;
  padding-top: 50px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .section-program {
    height: 1355px;
  }
}
@media screen and (min-width: 1320px) {
  .section-program {
    height: 1237px;
    padding-top: 120px;
    padding-bottom: 363px;
  }
}

.section-program::before {
  display: none;
}
@media screen and (min-width: 1320px) {
  .section-program::before {
    content: "";
    position: absolute;
    top: 294px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}

.section-program .section-title {
  margin-bottom: 43px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-program .section-title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .section-program .section-title {
    font-size: 46px;
    margin-bottom: 160px;
  }
}

.program-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .program-list {
    width: calc(100% - 70px);
    transform: translateX(95px);
  }
}
@media screen and (min-width: 1320px) {
  .program-list {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
  }
}

.program-list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20.5px;
  display: block;
  width: 1px;
  height: 1280px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program-list::before {
    left: -50.5px;
    height: 717px;
  }
}
@media screen and (min-width: 1320px) {
  .program-list::before {
    display: none;
  }
}

.program-list-item {
  position: relative;
}
@media screen and (min-width: 1320px) {
  .program-list-item {
    width: calc(20% - 24px);
  }
}

.program-list-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -26px;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .program-list-item::before {
    left: -56px;
  }
}
@media screen and (min-width: 1320px) {
  .program-list-item::before {
    height: 16px;
    width: 16px;
    left: 0;
    top: -52px;
  }
}

.program-list-item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .program-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.semester {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1320px) {
  .semester {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .semester::first-letter {
    font-size: 30px;
  }
}

.semester-program {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .semester-program {
    flex-direction: row;
  }
}
@media screen and (min-width: 1320px) {
  .semester-program {
    flex-direction: column;
  }
}

.semester-topic-list {
  list-style: none;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .semester-topic-list {
    width: 150px;
    margin-bottom: 0px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .semester-topic-list {
    width: auto;
  }
}

.semester-topic p {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.649;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .semester-topic p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.semester-topic-item {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  opacity: 0.5;
}
@media screen and (min-width: 1320px) {
  .semester-topic-item {
    font-size: 18px;
    line-height: 28px;
  }
}

.section-program .subsection {
  bottom: -232px;
}
@media screen and (min-width: 768px) {
  .section-program .subsection {
    bottom: -230px;
  }
}
@media screen and (min-width: 1320px) {
  .section-program .subsection {
    bottom: -200px;
  }
}

.subsection .section-title {
  background-color: transparent;
  width: 60%;
  text-align: left;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .subsection .section-title {
    width: 100%;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1320px) {
  .subsection .section-title {
    display: none;
  }
}

.why-list {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .why-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1320px) {
  .why-list {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.why-item {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .why-item {
    width: 33%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .why-item {
    width: 27%;
  }
}

.why-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .why-item:not(:last-child):nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .why-item:not(:last-child):nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

.why-item ul {
  list-style: none;
}

.why-number {
  color: #ff6b09;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.649;
  margin-bottom: 10px;
}
@media screen and (min-width: 1320px) {
  .why-number {
    font-size: 20px;
  }
}

.why-reason {
  color: #111518;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1320px) {
  .why-reason {
    font-size: 20px;
  }
}

.section-registration {
  margin-top: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111518;
  background-image: url(/registration-mobile-min.95743693.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-registration {
    background-image: url(/registration@2x-mobile-min.e83b53e7.png);
  }
}
@media screen and (min-width: 768px) {
  .section-registration {
    background-image: url(/registration-tablet-min.1c2eb733.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-registration {
    background-image: url(/registration@2x-mobile-min.e83b53e7.png);
  }
}
@media screen and (min-width: 1320px) {
  .section-registration {
    background-image: url(/registration-desktop-min.3ca0691d.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1320px), screen and (min-resolution: 192dpi) and (min-width: 1320px), screen and (min-resolution: 2dppx) and (min-width: 1320px) {
  .section-registration {
    background-image: url(/registration@2x-desktop-min.2e1e73e3.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .section-registration {
    padding-bottom: 71px;
  }
}
@media screen and (min-width: 1320px) {
  .section-registration {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}
.section-registration span {
  color: #ff6b09;
}

.registration-title {
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .registration-title {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 136%;
  }
}
@media screen and (min-width: 768px) {
  .registration-title {
    margin: auto;
    width: 559px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-title {
    width: 1111px;
    margin-bottom: 50px;
  }
}
.registration-description {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.129;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .registration-description {
    font-size: 14px;
    line-height: 1.214;
  }
}
@media screen and (min-width: 1320px) {
  .registration-description {
    font-size: 30px;
    line-height: 1.233;
  }
}
.registration-description-bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .registration-description-bottom {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-description-bottom {
    margin-bottom: 56px;
  }
}

.registration-form-list {
  margin-bottom: 50px;
}
@media screen and (min-widht: 768px) and (max-width: 1319px) {
  .registration-form-list {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-form-list {
    margin-bottom: 80px;
  }
}
.registration-form-item:not(:last-child) {
  margin-bottom: 20px;
}
.registration-form-input {
  display: block;
  margin: 0 auto;
  padding: 15px 28px;
  max-width: 100%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
}
.registration-form-input::-webkit-input-placeholder {
  color: #ffffff;
}
.registration-form-input::-moz-placeholder {
  color: #ffffff;
}
.registration-form-input:-moz-placeholder {
  color: #ffffff;
}
.registration-form-input:-ms-input-placeholder {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registration-form-input {
    min-width: 390px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-form-input {
    min-width: 478px;
    font-size: 20px;
    line-height: 1.142;
  }
}
.registration-form-btn {
  margin: 0 auto;
}

.section-teacher {
  height: 1558px;
  padding-top: 270px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .section-teacher {
    height: 930px;
    padding-top: 302px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher {
    height: 1233px;
    padding-top: 329px;
    padding-bottom: 130px;
  }
}
.section-teacher-title {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .section-teacher-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    color: #111518;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #111518;
  }
}
.section-teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #111518;
  padding-top: 20px;
  border-bottom: 1px solid #B9B9B9;
}
@media screen and (min-width: 768px) {
  .section-teacher-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #111518;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-name {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.08em;
    color: #111518;
  }
}
.section-teacher-achievement {
  padding-top: 20px;
  padding-bottom: 43px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .section-teacher-achievement {
    padding-top: 20px;
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-achievement {
    padding-top: 30px;
    padding-bottom: 63px;
  }
}
.section-teacher-achievement-list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  padding-bottom: 20px;
}
@media screen and (min-width: 1320px) {
  .section-teacher-achievement-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.06em;
  }
}
.section-teacher-about-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.55;
  color: #B9B9B9;
  padding-bottom: 15px;
}
.section-teacher-achievement-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #ff6b09;
  text-decoration: underline;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */