@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --white-logo-fill: #ffffff;
}

/* Main background colors */
/* Accent color for all elements */
/* Font colors */
/* Main font */
/* Breakpoints */
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  padding-top: 110px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 160px;
  }
}
@media screen and (min-width: 1320px) {
  body {
    padding-top: 230px;
  }
}

img {
  display: block;
}

section {
  min-width: 290px;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

button {
  outline: none;
}

.container {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1344px;
  }
}

.button {
  display: block;
  border: 2px solid #ff6b09;
  padding: 14px 1px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .button {
    padding: 26px 0;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
  }
}

.section-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1320px) {
  .section-title {
    font-weight: 800;
    font-size: 46px;
  }
}

.subsection {
  position: absolute;
  left: calc(50% - 140px);
  bottom: -232px;
  width: 280px;
  background-color: transparent;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .subsection {
    left: calc(50% - 344px);
    width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .subsection {
    left: calc(50% - 657px);
    width: 1314px;
  }
}

.advantages-title {
  display: none;
}

.advantages-list {
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .advantages-list {
    width: 216px;
    height: 240px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages-list-item {
    display: flex;
    align-items: center;
    width: 216px;
    height: 60px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
  }

  .advantages-list-item {
    display: flex;
    justify-content: start;
  }

  .advantages-content {
    font-size: 14px;
    line-height: 1.429;
  }

  .advantages-icon {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .advantages-list {
    display: flex;
    width: 688px;
    height: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .advantages-content {
    font-size: 14px;
    line-height: 1.429;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  .advantages-list-item {
    display: flex;
    align-items: center;
  }

  .advantages-content {
    font-size: 14px;
    line-height: 1.429;
  }

  .advantages-icon {
    margin-right: 10px;
  }

  .advantages-list-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .container {
    width: 1320px;
    margin: 0 auto;
  }

  .advantages-list {
    display: flex;
    width: 1344px;
    height: 102px;
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .advantages-list-item {
    display: flex;
    align-items: center;
  }

  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .advantages-content {
    font-size: 20px;
    line-height: 1.649;
  }
}
.advantages-list-item svg {
  width: 100px;
  height: 102px;
}

.advantages-content {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08em;
  color: #111518;
}

.section-footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-footer .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
  }
}
@media screen and (min-width: 1320px) {
  .section-footer .container {
    padding: 0 15px;
  }
}

.footer-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1320px) {
  .footer-wrapper {
    height: 150px;
  }
}

@media screen and (min-width: 1320px) {
  .logo {
    position: absolute;
    bottom: 23px;
  }
}
.logo-dark-img {
  width: 84px;
  height: 30px;
  /* background-image: url(../images/logo-social/logo-min.png); */
}
@media screen and (min-width: 768px) {
  .logo-dark-img {
    width: 128px;
    height: 45px;
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .contact-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1320px) {
  .contact-wrapper {
    margin: 0 auto;
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contact {
    margin: 0;
  }
}
.contact-phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contact-phone-icon {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1320px) {
  .contact-phone-icon {
    width: 29px;
    height: 29px;
    margin-right: 15px;
  }
}
.contact-phone {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: #111518;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .contact-phone {
    font-size: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .contact-phone {
    margin: 0;
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .vertical-line {
    margin: 0 24px;
    width: 2px;
    height: 40px;
    margin-right: 24px;
    margin-left: 24px;
    background-image: url(/vertical-line.f5cc6551.svg);
  }
}
@media screen and (min-width: 1320px) {
  .vertical-line {
    margin-left: 16px;
  }
}

.instagram {
  width: 40px;
  height: 40px;
  background-image: url(/instagram-min.e6f1cdda.png);
}

.section-copyright {
  height: 70px;
  background-color: #111518;
}
.section-copyright .container {
  padding-top: 0;
  padding-bottom: 0;
}

.copyright-text {
  padding-top: 21px;
  padding-bottom: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #B9B9B9;
}
@media screen and (max-width: 767px) {
  .copyright-text {
    text-align: center;
  }
}

.section-guarantee {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1320px) {
  .section-guarantee {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.section-guarantee .container {
  max-width: 320px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .section-guarantee .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  .section-guarantee .container {
    max-width: 1344px;
  }
}
.section-guarantee .section-title {
  text-align: center;
}

.guarantee-accent {
  color: #ff6b09;
}

.guarantee-list {
  margin-top: 30px;
  padding: 30px 20px;
  background: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .guarantee-list {
    padding: 30px 50px 30px 80px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee-list {
    padding: 50px 112px 45px 112px;
    margin-top: 50px;
  }
}

.guarantee-item:not(:last-child) {
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .guarantee-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.guarantee-paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #3d3d3d;
}
@media screen and (min-width: 1320px) {
  .guarantee-paragraph {
    font-size: 20px;
    line-height: 1.4;
  }
}

.guarantee-icon {
  width: 45px;
  height: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .guarantee-icon {
    width: 22px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee-icon {
    width: 18px;
  }
}

.guarantee-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.guarantee-wrap-before:before {
  content: "";
  position: absolute;
  display: block;
  height: 70px;
  border-right: 1px dashed #B9B9B9;
  left: 7px;
  bottom: -17px;
}
@media screen and (min-width: 768px) {
  .guarantee-wrap-before:before {
    height: 35px;
  }
}
@media screen and (min-width: 1320px) {
  .guarantee-wrap-before:before {
    height: 45px;
    bottom: -15px;
  }
}

.section-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .section-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .section-header {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}
.section-header .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon-logo {
  width: 80px;
  height: 29px;
}
@media screen and (min-width: 768px) {
  .icon-logo {
    width: 128px;
    height: 45px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1320px) {
  .nav {
    display: block;
  }
}

.nav-list {
  display: flex;
  width: 648px;
  justify-content: space-between;
}

.nav-list-link {
  color: #B9B9B9;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-list-link.nav-list-link:hover, .nav-list-link.nav-list-link:focus {
  color: #ff6b09;
}

.button.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .button.contact {
    display: block;
    margin-left: auto;
    margin-right: 40px;
    background-color: transparent;
    color: #ff6b09;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .button.contact:hover, .button.contact:focus {
    background-color: #ff6b09;
    color: #ffffff;
  }
}
@media screen and (min-width: 1320px) {
  .button.contact {
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-btn {
  display: flex;
  justify-content: cenlter;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1320px) {
  .menu-btn {
    display: none;
  }
}

.menu-icon {
  width: 21px;
  height: 21px;
  stroke: black;
}

.section-hero {
  padding-bottom: 66px;
  background-image: url("/hero-layer1mobile.7097a272.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: url("/hero-layer1tablet.698c3381.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
@media screen and (min-width: 1320px) {
  .section-hero {
    background-image: url("/hero-layer1desktop.3d2fbded.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("/hero-layer1mobile@2x.594a22ea.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: url("/hero-layer1tablet@2x.ed88511b.png");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1320px), screen and (min-resolution: 192dpi) and (min-width: 1320px), screen and (min-resolution: 2dppx) and (min-width: 1320px) {
  .section-hero {
    background-image: url("/hero-layer1desktop@2x.afb42960.png");
  }
}

.hero-side {
  margin-bottom: 40px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .button-wrapper {
    display: block;
  }
}

.container-hero {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .container-hero {
    display: flex;
  }
}

.hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 332px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-title {
    font-size: 58px;
    margin-bottom: 24px;
    width: 642px;
  }
}

.hero-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}
@media screen and (min-width: 1320px) {
  .hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
  }
}

.hero-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 1320px) {
  .hero-description {
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    margin-right: 6px;
  }
}

.hero-accent {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .hero-accent {
    font-size: 20px;
    line-height: 164.9%;
  }
}

.hero-button {
  max-width: 260px;
  padding-right: 6px;
  padding-left: 6px;
}
@media screen and (min-width: 1320px) {
  .hero-button {
    min-width: 354px;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-wrapper {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .hero-wrapper {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    width: 332px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-wrapper {
    width: 536px;
    margin-bottom: 40px;
  }
}

.hero-images {
  width: 208px;
  height: 178px;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-images {
    width: 378px;
    height: 321px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1320px) {
  .hero-images {
    width: 842px;
    height: 718px;
    padding-top: 0;
    margin-top: -60px;
    margin-right: -140px;
  }
}

.layer1 {
  position: absolute;
  top: -10px;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .layer1 {
    top: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .layer1 {
    top: -40px;
    left: 80px;
  }
}

@media screen and (min-width: 1320px) {
  .hero-description-accent {
    display: inline-flex;
  }
}

.section-how {
  padding-top: 198px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1320px) {
  .section-how {
    padding-top: 278px;
    padding-bottom: 130px;
  }
}
.section-how .container {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section-how .container {
    max-width: 718px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1320px) {
  .section-how .container {
    max-width: 1315px;
    padding: 0;
  }
}
.section-how .section-title {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1320px) {
  .section-how .section-title {
    margin-bottom: 50px;
    text-align: left;
  }
}

.how-list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .how-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.how-list-item {
  display: block;
  padding: 30px 6px 57px;
  width: 280px;
  background-color: #ffffff;
  top: 0px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: all 250ms linear;
}
@media screen and (min-width: 768px) {
  .how-list-item {
    width: 334px;
    padding: 40px 26px 50px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item {
    width: 425px;
    padding: 30px 27px 50px;
  }
}
.how-list-item:hover, .how-list-item:focus {
  background-color: #ff6b09;
  top: 2px;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  transition: all 250ms linear;
}
.how-list-item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .how-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .how-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 27px;
  }
}
.how-list-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .how-list-item-title {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .how-list-item-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0;
  }
}
.how-list-item:hover .how-list-item-title, .how-list-item:focus .how-list-item-title {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-list-item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: #B9B9B9;
}
@media screen and (min-width: 1320px) {
  .how-list-item-text {
    font-size: 18px;
    line-height: 1.56;
  }
}
.how-list-item:hover .how-list-item-text, .how-list-item:focus .how-list-item-text {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-symbol {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .how-symbol {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1320px) {
  .how-symbol {
    margin-bottom: 0;
  }
}
.how-list-item:hover .how-symbol, .how-list-item:focus .how-symbol {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.special {
  padding: 0 25px;
}

.how-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  fill: #ff6b09;
}
.how-list-item:hover .how-icon, .how-list-item:focus .how-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .how-icon {
    margin-bottom: 30px;
  }
}

.section-problems {
  position: relative;
  padding-top: 50px;
  height: 545px;
  background-color: #111518;
}
@media screen and (min-width: 768px) {
  .section-problems {
    height: 340px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems {
    height: 560px;
    padding-top: 100px;
    background-image: url("/fire-desktop-min.0f0de6e6.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 455px 472px;
  }
}
@media screen and (min-width: 1320px) and (min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1320px) and (min-resolution: 192dpi), screen and (min-width: 1320px) and (min-resolution: 2dppx) {
  .section-problems {
    background-image: url("/fire@2x-desktop-min.72c8ef79.png");
  }
}
.section-problems ul {
  list-style-type: none;
}
.section-problems .container {
  padding: 0;
}
.section-problems .subsection {
  bottom: -148px;
}
@media screen and (min-width: 768px) {
  .section-problems .subsection {
    bottom: -152px;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems .subsection {
    bottom: -141px;
  }
}

.section-problems .section-title {
  color: #ffffff;
  text-align: left;
  width: 280px;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .section-problems .section-title {
    font-size: 26px;
    width: 568px;
    line-height: 1.33;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1320px) {
  .section-problems .section-title {
    font-size: 46px;
    width: 866px;
    margin-bottom: 70px;
    line-height: 1.3;
  }
}

.problems-accent,
.problems-number {
  color: #ff6b09;
}

.problems-list {
  padding: 20px 14px 20px 30px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .problems-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 23px 0px 33px 0px;
  }
}
@media screen and (min-width: 1320px) {
  .problems-list {
    padding: 70px 0px 62px 0px;
  }
}

@media screen and (max-width: 767px) {
  .problems-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .problems-item {
    width: 35%;
    margin-bottom: 32px;
    margin-right: 22px;
  }
  .problems-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .problems-item {
    width: 25%;
    margin-right: 40px;
  }
  .problems-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .item-first {
    margin-bottom: 24px;
  }

  .item-second {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1320px) {
  .item-first {
    margin-bottom: 64px;
  }

  .item-second {
    margin-bottom: 32px;
  }
}
.problems-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  margin-bottom: 5px;
}
@media screen and (min-width: 1320px) {
  .problems-number {
    line-height: 1.695;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.dash {
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1320px) {
  .dash {
    line-height: 1.649px;
  }
}

.problems-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.785;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1320px) {
  .problems-name {
    font-size: 20px;
    line-height: 1.4;
  }
}

.first-name {
  line-height: 2.3;
}
@media screen and (min-width: 1320px) {
  .first-name {
    line-height: 1.2;
  }
}

@media screen and (min-width: 1320px) {
  .fourth-name {
    line-height: 1.2;
  }
}

@media screen and (max-width: 1320px) {
  .hyphenation {
    max-width: 200px;
  }
}
.section-program {
  position: relative;
  height: 2050px;
  padding-top: 50px;
  background-color: #111518;
  background-repeat: no-repeat;
  background-image: url("/program-mobile-min.dcaec478.png");
  background-size: 120px 137px;
  background-position: 100% 1473px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-program {
    background-image: url("/program@2x-mobile-min.0b02b2e8.png");
  }
}
@media screen and (min-width: 768px) {
  .section-program {
    height: 1355px;
    background-image: url("/program-tablet-min.7463b3a5.png");
    background-position: 100% 822px;
    background-size: 384px 280px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-program {
    background-image: url("/program@2x-tablet-min.f9f305ba.png");
  }
}
@media screen and (min-width: 1320px) {
  .section-program {
    height: 1305px;
    padding-top: 120px;
    background-image: url("/program-desktop-min.5f7bbd41.png");
    background-size: 672px 502px;
    background-position: calc(-496px + 50%) 755px;
  }
}
@media screen and (min-width: 1320px) and (min-device-pixel-ratio: 2), screen and (min-width: 1320px) and (min-resolution: 192dpi), screen and (min-width: 1320px) and (min-resolution: 2dppx) {
  .section-program {
    background-image: url("/program@2x-desktop-min.7b57faf5.png");
  }
}

.section-program::before {
  display: none;
}
@media screen and (min-width: 1320px) {
  .section-program::before {
    content: "";
    position: absolute;
    top: 294px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}

.section-program .section-title {
  margin-bottom: 43px;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section-program .section-title {
    font-size: 26px;
    text-align: left;
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1320px) {
  .section-program .section-title {
    font-size: 46px;
    margin-bottom: 160px;
  }
}

.program-list {
  position: relative;
  width: 185px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .program-list {
    width: calc(100% - 70px);
    transform: translateX(95px);
    margin: auto;
  }
}
@media screen and (min-width: 1320px) {
  .program-list {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
  }
}

.program-list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20.5px;
  display: block;
  width: 1px;
  height: 1300px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .program-list::before {
    left: -50.5px;
    height: 717px;
  }
}
@media screen and (min-width: 1320px) {
  .program-list::before {
    display: none;
  }
}

.program-list-item {
  position: relative;
}
@media screen and (min-width: 1320px) {
  .program-list-item {
    width: calc(20% - 24px);
  }
}

.program-list-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -26px;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ff6b09;
}
@media screen and (min-width: 768px) {
  .program-list-item::before {
    left: -56px;
  }
}
@media screen and (min-width: 1320px) {
  .program-list-item::before {
    height: 16px;
    width: 16px;
    left: 0;
    top: -52px;
  }
}

.program-list-item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .program-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.semester {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1320px) {
  .semester {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .semester::first-letter {
    font-size: 30px;
  }
}

.semester-program {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .semester-program {
    flex-direction: row;
  }
}
@media screen and (min-width: 1320px) {
  .semester-program {
    flex-direction: column;
  }
}

.semester-topic-list {
  list-style: none;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .semester-topic-list {
    width: 150px;
    margin-bottom: 0px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1320px) {
  .semester-topic-list {
    width: auto;
  }
}

.semester-topic p {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.649;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
@media screen and (min-width: 1320px) {
  .semester-topic p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.semester-topic-item {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  opacity: 0.5;
}
@media screen and (min-width: 1320px) {
  .semester-topic-item {
    font-size: 18px;
    line-height: 28px;
  }
}

.section-program .subsection {
  bottom: -232px;
}
@media screen and (min-width: 768px) {
  .section-program .subsection {
    bottom: -230px;
  }
}
@media screen and (min-width: 1320px) {
  .section-program .subsection {
    bottom: -200px;
  }
}

.subsection .section-title {
  background-color: transparent;
  width: 60%;
  text-align: left;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .subsection .section-title {
    width: 100%;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1320px) {
  .subsection .section-title {
    display: none;
  }
}

.why-list {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .why-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1320px) {
  .why-list {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.why-item {
  width: 75%;
}
@media screen and (min-width: 768px) {
  .why-item {
    width: 33%;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .why-item {
    width: 27%;
  }
}

.why-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .why-item:not(:last-child):nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1320px) {
  .why-item:not(:last-child):nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

.why-item ul {
  list-style: none;
}

.why-number {
  color: #ff6b09;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.649;
  margin-bottom: 10px;
}
@media screen and (min-width: 1320px) {
  .why-number {
    font-size: 20px;
  }
}

.why-reason {
  color: #111518;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1320px) {
  .why-reason {
    font-size: 20px;
  }
}

.section-registration {
  margin-top: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111518;
  background-image: url(/registration-mobile-min.95743693.png);
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-registration {
    background-image: url(/registration@2x-mobile-min.e83b53e7.png);
  }
}
@media screen and (min-width: 768px) {
  .section-registration {
    background-image: url(/registration-tablet-min.1c2eb733.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-registration {
    background-image: url(/registration@2x-mobile-min.e83b53e7.png);
  }
}
@media screen and (min-width: 1320px) {
  .section-registration {
    background-image: url(/registration-desktop-min.3ca0691d.png);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1320px), screen and (min-resolution: 192dpi) and (min-width: 1320px), screen and (min-resolution: 2dppx) and (min-width: 1320px) {
  .section-registration {
    background-image: url(/registration@2x-desktop-min.2e1e73e3.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .section-registration {
    padding-bottom: 71px;
  }
}
@media screen and (min-width: 1320px) {
  .section-registration {
    padding-top: 100px;
    padding-bottom: 62px;
  }
}
.section-registration span {
  color: #ff6b09;
}

.registration-title {
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .registration-title {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 136%;
  }
}
@media screen and (min-width: 768px) {
  .registration-title {
    margin: auto;
    width: 559px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-title {
    width: 1100px;
    margin-bottom: 50px;
  }
}
.registration-description {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.129;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .registration-description {
    font-size: 14px;
    line-height: 1.214;
  }
}
@media screen and (min-width: 1320px) {
  .registration-description {
    font-size: 30px;
    line-height: 1.233;
  }
}
.registration-description-bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1319px) {
  .registration-description-bottom {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-description-bottom {
    margin-bottom: 56px;
  }
}

.registration-form-list {
  margin-bottom: 50px;
}
@media screen and (min-widht: 768px) and (max-width: 1319px) {
  .registration-form-list {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-form-list {
    margin-bottom: 80px;
  }
}
.registration-form-item:not(:last-child) {
  margin-bottom: 20px;
}
.registration-form-input {
  display: block;
  margin: 0 auto;
  padding: 15px 28px;
  max-width: 100%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
}
.registration-form-input::-webkit-input-placeholder {
  color: #ffffff;
}
.registration-form-input::-moz-placeholder {
  color: #ffffff;
}
.registration-form-input:-moz-placeholder {
  color: #ffffff;
}
.registration-form-input:-ms-input-placeholder {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .registration-form-input {
    min-width: 390px;
  }
}
@media screen and (min-width: 1320px) {
  .registration-form-input {
    min-width: 478px;
    font-size: 20px;
    line-height: 1.142;
  }
}
.registration-form-btn {
  margin: 0 auto;
  padding-left: 26px;
  padding-right: 26px;
}

.section-teacher {
  height: 1358px;
  padding-top: 270px;
}
@media screen and (min-width: 768px) {
  .section-teacher {
    height: 930px;
    padding-top: 302px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher {
    height: 1233px;
    padding-top: 329px;
  }
}
.section-teacher-title {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .section-teacher-title {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
    color: #111518;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #111518;
  }
}
.section-teacher-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #111518;
}
@media screen and (min-width: 768px) {
  .section-teacher-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #111518;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-name {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.08em;
    color: #111518;
  }
}
.section-teacher-achievement {
  padding-top: 20px;
  padding-bottom: 43px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .section-teacher-achievement {
    padding-top: 20px;
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-achievement {
    padding-top: 30px;
    padding-bottom: 63px;
  }
}
.section-teacher-achievement-list {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  padding-bottom: 20px;
  position: relative;
  left: 25px;
}
@media screen and (min-width: 1320px) {
  .section-teacher-achievement-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.06em;
    padding-bottom: 33px;
    position: relative;
    left: 34px;
  }
}
.section-teacher-about-list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.55;
  color: #B9B9B9;
  padding-bottom: 15px;
}
@media screen and (min-width: 1320px) {
  .section-teacher-about-list {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 15px;
  }
}
.section-teacher-achievement-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #ff6b09;
  text-decoration: underline;
}
@media screen and (min-width: 1320px) {
  .section-teacher-achievement-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 15px;
  }
}
.section-teacher-about-container {
  height: 668px;
}
@media screen and (min-width: 768px) {
  .section-teacher-about-container {
    height: 516px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-about-container {
    height: 642px;
    width: 660px;
  }
}
@media screen and (min-width: 768px) {
  .section-teacher-img {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-img {
    margin-right: 30px;
  }
}
.section-teacher-svg {
  position: absolute;
  display: flex;
}

@media screen and (min-width: 768px) {
  .section-teacher-flex {
    display: flex;
  }
}
@media screen and (min-width: 1320px) {
  .section-teacher-flex {
    display: flex;
  }
}

.section-teacher-border {
  height: 52px;
  border-bottom: 1px solid #B9B9B9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background-color: rgba(17, 21, 24, 0.9);
  overflow-y: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1320px) {
  .backdrop {
    display: none;
  }
}

.backdrop .container {
  padding-bottom: 15px;
}

.logo-button-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo-button-modal .icon-logo {
  --color1: #ffffff;
}

.modal-nav-list {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .modal-nav-list {
    width: 322px;
    margin: auto;
  }
}

.modal-nav-item:not(:last-child) {
  margin-bottom: 5px;
}

.modal-nav-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.modal-nav-link:hover, .modal-nav-link:focus {
  color: #ff6b09;
}

.contact-modal {
  margin: 0 auto;
  background-color: transparent;
  color: #ff6b09;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
}
.contact-modal:hover, .contact-modal:focus {
  background-color: #ff6b09;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contact-modal {
    display: none;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */