<header class="section-header">
  <div class="container">
    <a href="" class="logo">
      <svg class="logo-icon">
          <use href="./images/symbols.svg#logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="" class="nav-list-link">Программы обучения</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="nav-list-link">О нас</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="nav-list-link">Варианты обучения</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="nav-list-link">Контакты</a>
        </li>
        <li class="nav-list-item">
          <a href="" class="tel-button">Консультация по телефону</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-button">
      <svg class="menu-button-icon">
        <use class="icon-menu" href="./images/symbols.svg#icon-menu"></use>
        <!-- <use class="icon-cross" href="./images/symbols.svg#icon-cross"></use> -->
      </svg>
    </button>
  </div>
</header>
