<section class="section-reviews">
  <div class="container">
    <h2 class="section-title">Отзывы выпускников</h2>
    <div class="reviews">
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider1@1x-desktop.jpg 1x,
                  ./images/slider/slider1@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider1@1x-mobile.jpg 1x,
                  ./images/slider/slider1@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider1@2x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider2@1x-desktop.jpg 1x,
                  ./images/slider/slider2@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider2@1x-desktop.jpg 1x,
                  ./images/slider/slider2@2x-desktop.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider2@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider3@1x-desktop.jpg 1x,
                  ./images/slider/slider3@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider3@1x-mobile.jpg 1x,
                  ./images/slider/slider3@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider3@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider4@1x-desktop.jpg 1x,
                  ./images/slider/slider4@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider4@1x-mobile.jpg 1x,
                  ./images/slider/slider4@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider4@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider5@1x-desktop.jpg 1x,
                  ./images/slider/slider5@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider5@1x-mobile.jpg 1x,
                  ./images/slider/slider5@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider5@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider6@1x-desktop.jpg 1x,
                  ./images/slider/slider6@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider6@1x-mobile.jpg 1x,
                  ./images/slider/slider6@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider6@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
      <div class="reviews-item">
        <div class="reviews-wrapper">
          <div class="reviews-img">
            <picture>
              <source
                srcset="
                  ./images/slider/slider7@1x-desktop.jpg 1x,
                  ./images/slider/slider7@2x-desktop.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./images/slider/slider7@1x-mobile.jpg 1x,
                  ./images/slider/slider7@2x-mobile.jpg 2x
                "
              />

              <img
                class="reviews-photo"
                src="./images/slider/slider7@1x-desktop.jpg"
                alt="Тоня Кучеровская"
              />
            </picture>
            <a class="icon-vk" href="#">
              <svg>
                <use href="./images/symbols.svg#icon-vk"></use>
              </svg>
            </a>
          </div>
          <div class="reviews-text">
            <p class="reviews-text-name">Тоня Кучеровская</p>
            <p class="reviews-text-eduacation">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="reviews-text-description" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен... <a class="read-more" href=""> Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews-thumbs">
      <picture>
        <source
          srcset="
            ./images/slider/slider1@1x-thumb.jpg 1x,
            ./images/slider/slider1@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider1@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider2@1x-thumb.jpg 1x,
            ./images/slider/slider2@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider2@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider3@1x-thumb.jpg 1x,
            ./images/slider/slider3@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider3@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider4@1x-thumb.jpg 1x,
            ./images/slider/slider4@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider4@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider5@1x-thumb.jpg 1x,
            ./images/slider/slider5@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider5@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider6@1x-thumb.jpg 1x,
            ./images/slider/slider6@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider6@1x-thumb.jpg" alt="выпускиник" />
      </picture>

      <picture>
        <source
          srcset="
            ./images/slider/slider7@1x-thumb.jpg 1x,
            ./images/slider/slider7@2x-thumb.jpg 2x
          "
        />
        <img src="./images/slider/slider7@1x-thumb.jpg" alt="выпускиник" />
      </picture>
    </div>
  </div>
</section>
